<div>
    <form name="postform" class="uk-form" enctype="multipart/form-data" ng-submit="saveChanges()">
        <legend>
            <h2>Edit Post</h2>
        </legend>
        <input type="hidden" ng-bind="postUpdateForm.Id" ng-required>
        <input name="title"
               ng-class="{ 'ng-invalid.ng-dirty' : postform.title.$invalid && !postform.title.$pristine }"
               ng-model="postUpdateForm.title" class="uk-margin-bottom uk-form-large uk-form-width-large"
               type="text"
               placeholder="Enter Title" required>
        <textarea id="editor" name="markdown" ng-model="postUpdateForm.markdown" data-uk-htmleditor="{mode:'tab', markdown:true}"></textarea>
        <button class="uk-margin-top uk-button uk-button-primary uk-button-large uk-width-1-6 uk-hidden-small" ng-disabled="postform.$invalid" type="submit">Save Changes
        </button>
        <button class="uk-margin-top uk-button uk-button-primary uk-button-large uk-width-1-1 uk-hidden-large uk-hidden-medium" ng-disabled="postform.$invalid" type="submit">Save Changes
        </button>
    </form>
</div>