<div class="postview uk-clearfix">
    <h1>{{postView.Title}}</h1>

    <div ng-show="loginStatus" style="position: relative; top: -50%" class="uk-float-right"
         data-uk-dropdown="{mode:'click'}">
        <div style="font-size: 25px"><i class="uk-icon-cog"></i></div>
        <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown">
                <li><a href="/edit/{{ postView.Id }}"><i class="uk-icon-edit"></i> Edit</a></li>
                <li><a ng-click="modal.show()"><i class="uk-icon-trash-o"></i> Delete</a></li>
            </ul>
        </div>
    </div>
    <aside class="uk-text-muted uk-text-bold">{{postView.Date}}</aside>
    <section class="topicbody" ng-bind-html="postView.Body" ng-cloak>
    </section>

    <div id="confirm-del" class="uk-modal">
        <div class="uk-modal-dialog">
            <a href="" class="uk-modal-close uk-close"></a>
            <div class="uk-grid uk-clearfix uk-margin-top">
                <h3 class="uk-text-center uk-width-1-1 uk-margin-bottom">Are you sure you want to delete this?</h3>
                <div class="uk-width-1-2"><a ng-click="delete(postView.Id)" class="uk-button uk-button-large uk-button-danger uk-float-right">Delete</a></div>
                <div class="uk-width-1-2"><a ng-click="modal.hide()" class="uk-button uk-button-large uk-float-left">Cancel</a></div>
            </div>
        </div>
    </div>

    {{highlightCode()}}
</div>